@font-face {
    font-family: 'CustomFont'; 
    src: url('/Users/jeremiahladao/Downloads/Fira_Code,Silkscreen/Silkscreen/Silkscreen-Regular.ttf'); 
  }



h1 {

    font-family: "Silkscreen","Regular";

}
@font-face
h1{
    font-family: "Silkscreen","Regular";
    src:
      local("Silkscreen-Regular"),
      url("/Users/jeremiahladao/Downloads/Fira_Code,Silkscreen/Silkscreen/Silkscreen-Regular.ttf") format("opentype") ,

  }
  
  h1{
    align-items:center
  }
  h1{
    margin: auto
  }
  h1{
    font-size:40px ;
  }
  h1{
    margin-top: 150px
  }
  h1{
    margin-right: 277px;
  }
  


 
   .changecolor{
    width:424px
   }
   
   .changecolor{
flex: 1

   }
  .changecolor{
    margin:auto
  }
  
  .p1
  {
      width: 424px; 
      word-wrap:break-word;
  }
  .p1{
    margin:auto
  }
  .p2
  {
    width:424px;
    word-wrap:break-word;
  }
  .p2{
    margin:auto
  }
  
  .p4,.p4part2,.p4part3
  {
    width:424px;
    word-wrap:break-word;
    
  }
  .p4,.p4part2,.p4part3{
    margin:auto
  }
  .p4part2{
    margin-top: 15px
  }
  .p4part3{
    margin-top: 15px
  }
  .p5{
    width:424px;
    word-wrap:break-word;
  }
  .p5{
    margin:auto
  }
  .p6{
    width:424px;
    word-wrap:break-word;

  }
  .p6{margin:auto}
  .p6part3,.p6part2,.p6part4
  {
    width:424px;
    word-wrap:break-word;
    
  }
  .p6part5,.p6part6,.p6part7
  {
    width:424px;
    word-wrap:break-word;
    
  }
  .p6part8,.p6part9
  {
    width:424px;
    word-wrap:break-word;
    
  }
  
  .p6part2,.p6part3,.p6part4,.p6part5,.p6part6,.p6part7,.p6part8,.p6part9{
    margin:auto
  }
  .p7{
    width: 424px
  }
  .p7{
    margin:auto
  }
  h2{
    font-family: Saira;
  }
  .p8
{
  width:424px
}
.p8{
  margin:auto
}
.p9
{
  width:424px
}
.p9{
  margin:auto
}
.p10{
  width:424px
}
.p10{
  margin:auto
}
.p11{
  width:424px
}
.p11{
  margin:auto
}
p{
  font-size: 20px
}
h2{
  font-family: Saira;
}
p{
 text-align: justify
}

.intro-page{
  background-color: gainsboro;
}
.internet-page{
  background-color: silver;
}
.on-horizon-page{
  background-color: darkgray;
}
.over-horizon-page{
  background-color: gray;
}
.conclusion-page{
  background-color: dimgray;
}
@font-face {
  font-family:"Michroma" ;
  src: url(../Fira_Code,Michroma,Saira,Silkscreen/Michroma/Michroma-Regular.ttf);
}
.Michroma{
  font-family: "Michroma" ;
}
a:hover{
  color:fuchsia
}
@font-face{
  font-family:"Oxygen Mono"
  src: url(../Fira_Code,Michroma,Oxygen_Mono,Saira,Silkscreen/Oxygen_Mono/OxygenMono-Regular.ttf)
} 
p{
  font-family: "Oxgen Mono";
}
.p1point1,.p1point2,.p2point1,.p2point2,.p2point3,.p2point4 {
  width: 350px
}
.p1point1,.p1point2,.p2point1,.p2point2,.p2point3,.p2point4 {
  margin:auto
}
.p1point1,.p1point2,.p2point1,.p2point2,.p2point3,.p2point4 {
  margin-top:25px
}
a{
  position:absolute
}

.blue-page{
  background-color: rgb(17, 0, 255);
}
.blue-page{
  font-family: "Michroma" ;
}
.red-page{
  background-color: red;
}
.red-page{
  font-family: "Michroma" ;
}
.question,.yes,.no{
  font-family: "Silkscreen, Regular";
  src:
      local("Silkscreen-Regular"),
  url("/Users/jeremiahladao/Downloads/Fira_Code,Silkscreen/Silkscreen/Silkscreen-Regular.ttf") format("opentype") ,

}
.question{
  font-family: "Silkscreen";
}
.question{
  margin:auto
}
.question{
  width:375px
}
.question{
  margin-top: 60px
}
.nono{
  font-family: "Silkscreen";
}
.nono{
  margin-left:900px
}
.nono{
  margin-top: 70px
}
.yesyes{
  font-family: "Silkscreen";
}
.yesyes{
  margin-top: 70px
}
.yesyes{
  margin-left: 444px
}
.black-page{
  background-color: rgb(0, 0, 0);
}
.largehome{
  font-family: "Silkscreen";
}
.largehome{
  font-size:200px
}


.largehome{
  margin:auto
}
.largehome{
margin-top: 100px;
}
